
<article class="media box ">
<div class="media-content">
  <%= flight.departure_airport.airport_id %> to
  <%= flight.arrival_airport.airport_id %> on
  <%= flight.departure_time.strftime("%m/%d/%Y") %>
</div>
</article>

