<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">
        <div>
            <%= render 'searchform' %>
        <br>
        </div>
    </div>
  </div>
</section>
<%= render 'searchresults'%>

