<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">

<div>
<p>
<strong>Select your desired booking. We'll try to get you as close as possible</h1>
</strong></p>
<br>
<div>
    <%= render 'searchform' %>
</div>
<% if @flights && @flights.any? %>
<p>Flights from...</p>
    <% @flights.all.each do |flight| %>
    <%= render 'flight', flight: flight%>
    <% end %>
<% end %>



</div>

</div>
</div>
</section>