<p style="color: green"><%= notice %></p>
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered">

<div>

<div>
    <%= render 'searchform' %>
    <br>
</div>
<% if @flights && @flights.any? %>
<br>
    <% @flights.all.each do |flight| %>
    <%= render 'flight', flight: flight%>
    <% end %>
<% end %>



</div>

</div>
</div>
</section>