<section class="section">
   <div class="container">
      <div class="is-mobile is-centered has-text-centered">
        <div class="tag is-large is-primary is-light has-text-centered centered is-rounded">Enter your info below to book this flight</div><br><br>  
        <div>
            <%= render 'selectedflight'%>
        </div>
  </div><%= render 'passengerform'%>
      
      
      
      <p class="control">
        <%= link_to 'Back to search', 'javascript:history.go(-1);', class: "button is-primary is-light" %><br>
      </p>

  </div>
</section>
