
@import 'bulma';

// No margin below notification
.notification:not(:last-child) {
	margin-bottom: 0;
}

// Get rid of default simple form ".." underneath required fields' "*"
form abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }

// Remove rounding from flash notifications and make them smaller
.notification {
	border-radius: 0% !important;
	height: 1rem;
}


// Background color
html {
  background-color: hsla(171, 100%, 41%, 0.39)
}

// Footer styling
.footer {
    height: 2.5rem !important;
    padding: 0.5rem !important;
    background-color: hsl(171, 100%, 41%) !important;
}

// Text size definition
.small {
   font-size: .7rem !important;
}

//Label width
label {
    display: inline !important;
    width: 7rem !important;
  }

// Changing input box widths
.airport-box {
    width: 4rem !important;
  }

.airport-box-small {
    width: 3rem !important;
  }

.airport-box-larger {
    width: 7rem !important;
  }

.label {
    width: 5rem !important;
  }

  //Changing text alignment for input boxes
select {
    text-align-last: center !important;
    direction: rtl !important;
}

// Flex wrapper to make footer stay at bottom
.flex-wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}