
@import 'bulma';

// Round images
.image {
	border-radius: 50%;
	img {
		border-radius: 50%;
	}
}

// No margin below notification
.notification:not(:last-child) {
	margin-bottom: 0;
}

// Margin to the right and bottom of checkbox
.boolean {  
	margin-right: 10px;
	margin-bottom: 5px;
  }

// Get rid of default simple form ".." underneath required fields' "*"
form abbr[title] {
    border-bottom: none !important;
    text-decoration: none !important;
  }

// Remove rounding from flash notifications and make them smaller
.notification {
	border-radius: 0% !important;
	height: 1rem;
}

// Positioning show button
.show {
    margin-top: -1.5rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
}

// Positioning back button
.back {
    margin-top: -1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
}

// Positioning destroy button
.destroy {
    padding-left: 1rem !important;
}

html {
  background-color: hsla(171, 100%, 41%, 0.39)
}

  .footer {
    height: 2.5rem !important;
    padding: 0.5rem !important;
    background-color: hsl(171, 100%, 41%) !important;
}

.small {
   font-size: .7rem !important;
}
  label {
    display: inline !important;
    width: 7rem !important;
  }


  .airport-box {
    width: 4rem !important;
  }

  .airport-box-small {
    width: 3rem !important;
  }

  .airport-box-larger {
    width: 7rem !important;
  }

  .label {
    width: 5rem !important;
  }

  select {
    text-align-last: center !important;
    //padding-right: 0.9rem !important;
    direction: rtl !important;
}

.flex-wrapper {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}